/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header styles */
.navbar {
    background-color: #343a40;
    /* Dark grey */
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    color: #fff;
    /* White */
    margin-right: 10px;
}

/* Section styles */
section {
    padding: 60px 0;
}

/* About section styles */
#about {
    background-color: #f8f9fa;
    /* Light grey */
}

/* Portfolio section styles */
#portfolio {
    background-color: #fff;
    /* White */
}

/* Contact section styles */
#contact {
    background-color: #f8f9fa;
    /* Light grey */
}

/* Footer styles */
footer {
    background-color: #343a40;
    /* Dark grey */
    color: #fff;
    /* White */
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}